@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500;700;900&family=Urbanist&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

:root{
    --main-color: #0b0b0b
}